/* Dark theme */
[data-theme="dark"] {
  --background-color: #222;
  --text-color: #000000;
  --toggle-background: #ccc;
  --toggle-handle: #fff;
}

/* Light theme */
[data-theme="light"] {
  --background-color: #f5f5f5;
  --text-color: #333;
  --toggle-background: #ccc;
  --toggle-handle: #fff;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sign-in-button,
.sign-out-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.theme-toggle {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: var(--toggle-background);
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.theme-toggle .slider {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-color: var(--toggle-handle);
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

[data-theme="light"] .theme-toggle .slider {
  transform: translateX(20px) translateY(-50%);
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
}

.message-form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.message-input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  color: var(--text-color); /* Added line */
}

.send-button {
  margin-left: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
}

.chat-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 12px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
  width: fit-content;
  max-width: 100%;
  word-wrap: break-word; /* Added line */
  overflow-wrap: break-word; /* Added line */
}


.chat-message.sender-message {
  align-self: flex-end;
  background-color: #ffffff;
  color: var(--text-color); /* Added line */
}

.chat-message.receiver-message {
  background-color: #007bff;
  color: #ffffff;
}
